.Site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Site-header,
.Site-Content {
  flex: none;
}
.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-conten::after{
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}

.conatiner {
  height: 20vh;
  background-color: #000000;
}